# -*- coding: utf-8 -*-


# CONSTANTS ############################################################################################################
HOST_GAME = "mail.mr486.com"
PORT_GAME = 12530


# SETTINGS DEFAULT #####################################################################################################
locale = 'fr'
user = "anonyme"
isLoggedIn = False
isDemoMode = False
user01State = False
user02State = False
user03State = False
user04State = False
bordLed = 1