# -*- coding: utf-8 -*-


# CONSTANTS ############################################################################################################
HOST_GAME = "mail.mr486.com"
PORT_GAME = 12530


# SETTINGS DEFAULT #####################################################################################################
locale = 'fr'
user = "anonyme"
password = "anonyme"
isLoggedIn = False