# -*- coding: utf-8 -*-


# CONSTANTS ############################################################################################################
HOST_GAME = "mail.mr486.com"
PORT_GAME = 12530


# SETTINGS DEFAULT #####################################################################################################
locale = 'fr'
user = None
password = None
memoryInfos = False
nickName = None
userPlay = None
userSlot = None

antiHoraire = False


# USER #################################################################################################################
userIsLoggedIn = False
firstConnexion = True


# Profile ##############################################################################################################
profileLocation = None
profilePremium = False
profilePremiumValidity = None
game4players = 0
game5players = 0
gameWins4Petite = 0
gameWins4Garde = 0
gameWins4GardeSans = 0
gameWins4GardeContre = 0
gameWins4Chelem = 0
gameLoose4Petite = 0
gameLoose4Garde = 0
gameLoose4GardeSans = 0
gameLoose4GardeContre = 0
gameLoose4Chelem = 0
gameWins5Petite = 0
gameWins5Garde = 0
gameWins5GardeSans = 0
gameWins5GardeContre = 0
gameWins5Chelem = 0
gameLoose5Petite = 0
gameLoose5Garde = 0
gameLoose5GardeSans = 0
gameLoose5GardeContre = 0
gameLoose5Chelem = 0


# MEDIA ################################################################################################################
card_L = 96
card_CL = 60
card_H = 180
card_C = 6.1

# Cnx Tab
imgMiniLedGreen = '16x16_led_green.png'
imgMiniLedRed = '16x16_led_red.png'
imgLedGreen = '40x40_led_green.png'
imgLedRed = '40x40_led_red.png'
imgLock = 'connected.png'
imgUnLock = 'disconnected.png'


# STATS ################################################################################################################

privateGame = []
game4Free = 0
game5Free = 0
nbPlayers = 0
nbGames = 0


# GAME ################################################################################################################
private_game_select = None
game_connect_first_connexion = True
game_connect_denomination = ''
game_connect_max_players = 5
game_connect_num_players = 0
game_connect_is_private = False
game_connect_is_with_chat = False
game_connect_is_with_relance = False
game_connect_is_with_annonce = False
game_connect_is_with_arrondi = False
game_connect_is_with_belge = False
game_connect_is_with_petite = False
game_connect_is_with_garde = False
game_connect_is_with_garde_sans = False
game_connect_user1_nickname = '-'
game_connect_user1_is_online = False
game_connect_user2_nickname = '-'
game_connect_user2_is_online = False
game_connect_user3_nickname = '-'
game_connect_user3_is_online = False
game_connect_user4_nickname = '-'
game_connect_user4_is_online = False
game_connect_user5_nickname = '-'
game_connect_user5_is_online = False
game_connect_state = 0
game_connect_is_playable = False


play_nextAction = 0
play_nextPlayerNickname = '--'
play_donnes = []
play_donne = 0
play_turn = 0
play_dealerNickname = '--'
play_contract = 0
play_withChelem = False
play_cardCall = 0
play_color = 0
play_atoutMax = 0
play_tablePlayer1_nickname = '--'
play_tablePlayer1_score = 0
play_tablePlayer1_selectCard = 0
play_tablePlayer1_nextAction = False
play_tablePlayer1_isPreneur = False
play_tablePlayer1_viewCall = False
play_tablePlayer1_isOnline = False
play_tablePlayer2_nickname = '--'
play_tablePlayer2_score = 0
play_tablePlayer2_selectCard = 0
play_tablePlayer2_nextAction = False
play_tablePlayer2_isPreneur = False
play_tablePlayer2_viewCall = False
play_tablePlayer2_isOnline = False
play_tablePlayer3_nickname = '--'
play_tablePlayer3_score = 0
play_tablePlayer3_selectCard = 0
play_tablePlayer3_nextAction = False
play_tablePlayer3_isPreneur = False
play_tablePlayer3_viewCall = False
play_tablePlayer3_isOnline = False
play_tablePlayer4_nickname = '--'
play_tablePlayer4_score = 0
play_tablePlayer4_selectCard = 0
play_tablePlayer4_nextAction = False
play_tablePlayer4_isPreneur = False
play_tablePlayer4_viewCall = False
play_tablePlayer4_isOnline = False
play_tablePlayer5_nickname = '--'
play_tablePlayer5_score = 0
play_tablePlayer5_selectCard = 0
play_tablePlayer5_nextAction = False
play_tablePlayer5_isPreneur = False
play_tablePlayer5_viewCall = False
play_tablePlayer5_isOnline = False
play_centralCards = []
play_centralCardsType = 0
playerDeck = []
